interactions:
- request:
    body: '{"kty": "RSA", "key_size": 2048, "key_ops": ["encrypt", "decrypt", "sign",
      "verify", "wrapKey", "unwrapKey"], "attributes": {}, "tags": {"purpose": "unit
      test", "test name ": "CreateRSAKeyTest"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault51c4108d.vault.azure.net/keys/crud-rsa-key/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault51c4108d.vault.azure.net/keys/crud-rsa-key/80dd675fec62456da3f2d3ef3a57a746","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"nlAysKn0BYy_MerjJxVCi_j1nTg8k-Fadx_3XVBuEVqjVWhYmsdoi7BSKyj-ByXmhD-5yQGveiAOSsUA7_Qku2KPWJvivV4iBUb1uursrYxlC-oJKmJrCzw5xDEWyzlr_wrl3XKXqDYigcVbtjpn-YOfxBdnV8xTRnI18LSFUKu1w2ROfRHlMHs7Gqqfc2FJmSJe7-cwNJYIk6EK3mstCaODsHcbM0JNUfJIj1JnDPe8sBBhJRkGDQk9ttgeroKiL6EvsbxdUW9X3GJmwC9bpzPz8Dkb1Uxxw2tY19R1y8nQuWtY_6MIM_NQXMuQdGB6dcChlz9d20tWnhQ-sXG2tw","e":"AQAB"},"attributes":{"enabled":true,"created":1558486939,"updated":1558486939,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault51c4108d.vault.azure.net/keys/crud-rsa-key/80dd675fec62456da3f2d3ef3a57a746?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault51c4108d.vault.azure.net/keys/crud-rsa-key/80dd675fec62456da3f2d3ef3a57a746","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"nlAysKn0BYy_MerjJxVCi_j1nTg8k-Fadx_3XVBuEVqjVWhYmsdoi7BSKyj-ByXmhD-5yQGveiAOSsUA7_Qku2KPWJvivV4iBUb1uursrYxlC-oJKmJrCzw5xDEWyzlr_wrl3XKXqDYigcVbtjpn-YOfxBdnV8xTRnI18LSFUKu1w2ROfRHlMHs7Gqqfc2FJmSJe7-cwNJYIk6EK3mstCaODsHcbM0JNUfJIj1JnDPe8sBBhJRkGDQk9ttgeroKiL6EvsbxdUW9X3GJmwC9bpzPz8Dkb1Uxxw2tY19R1y8nQuWtY_6MIM_NQXMuQdGB6dcChlz9d20tWnhQ-sXG2tw","e":"AQAB"},"attributes":{"enabled":true,"created":1558486939,"updated":1558486939,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault51c4108d.vault.azure.net/keys/crud-rsa-key/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault51c4108d.vault.azure.net/keys/crud-rsa-key/80dd675fec62456da3f2d3ef3a57a746","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"nlAysKn0BYy_MerjJxVCi_j1nTg8k-Fadx_3XVBuEVqjVWhYmsdoi7BSKyj-ByXmhD-5yQGveiAOSsUA7_Qku2KPWJvivV4iBUb1uursrYxlC-oJKmJrCzw5xDEWyzlr_wrl3XKXqDYigcVbtjpn-YOfxBdnV8xTRnI18LSFUKu1w2ROfRHlMHs7Gqqfc2FJmSJe7-cwNJYIk6EK3mstCaODsHcbM0JNUfJIj1JnDPe8sBBhJRkGDQk9ttgeroKiL6EvsbxdUW9X3GJmwC9bpzPz8Dkb1Uxxw2tY19R1y8nQuWtY_6MIM_NQXMuQdGB6dcChlz9d20tWnhQ-sXG2tw","e":"AQAB"},"attributes":{"enabled":true,"created":1558486939,"updated":1558486939,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"attributes": {"exp": 2524723200}, "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://vault51c4108d.vault.azure.net/keys/crud-rsa-key/80dd675fec62456da3f2d3ef3a57a746?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault51c4108d.vault.azure.net/keys/crud-rsa-key/80dd675fec62456da3f2d3ef3a57a746","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"nlAysKn0BYy_MerjJxVCi_j1nTg8k-Fadx_3XVBuEVqjVWhYmsdoi7BSKyj-ByXmhD-5yQGveiAOSsUA7_Qku2KPWJvivV4iBUb1uursrYxlC-oJKmJrCzw5xDEWyzlr_wrl3XKXqDYigcVbtjpn-YOfxBdnV8xTRnI18LSFUKu1w2ROfRHlMHs7Gqqfc2FJmSJe7-cwNJYIk6EK3mstCaODsHcbM0JNUfJIj1JnDPe8sBBhJRkGDQk9ttgeroKiL6EvsbxdUW9X3GJmwC9bpzPz8Dkb1Uxxw2tY19R1y8nQuWtY_6MIM_NQXMuQdGB6dcChlz9d20tWnhQ-sXG2tw","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1558486939,"updated":1558486940,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault51c4108d.vault.azure.net/keys/crud-rsa-key?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault51c4108d.vault.azure.net/deletedkeys/crud-rsa-key","deletedDate":1558486941,"scheduledPurgeDate":1566262941,"key":{"kid":"https://vault51c4108d.vault.azure.net/keys/crud-rsa-key/80dd675fec62456da3f2d3ef3a57a746","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"nlAysKn0BYy_MerjJxVCi_j1nTg8k-Fadx_3XVBuEVqjVWhYmsdoi7BSKyj-ByXmhD-5yQGveiAOSsUA7_Qku2KPWJvivV4iBUb1uursrYxlC-oJKmJrCzw5xDEWyzlr_wrl3XKXqDYigcVbtjpn-YOfxBdnV8xTRnI18LSFUKu1w2ROfRHlMHs7Gqqfc2FJmSJe7-cwNJYIk6EK3mstCaODsHcbM0JNUfJIj1JnDPe8sBBhJRkGDQk9ttgeroKiL6EvsbxdUW9X3GJmwC9bpzPz8Dkb1Uxxw2tY19R1y8nQuWtY_6MIM_NQXMuQdGB6dcChlz9d20tWnhQ-sXG2tw","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1558486939,"updated":1558486940,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault51c4108d.vault.azure.net/deletedkeys/crud-rsa-key?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault51c4108d.vault.azure.net/deletedkeys/crud-rsa-key","deletedDate":1558486941,"scheduledPurgeDate":1566262941,"key":{"kid":"https://vault51c4108d.vault.azure.net/keys/crud-rsa-key/80dd675fec62456da3f2d3ef3a57a746","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"nlAysKn0BYy_MerjJxVCi_j1nTg8k-Fadx_3XVBuEVqjVWhYmsdoi7BSKyj-ByXmhD-5yQGveiAOSsUA7_Qku2KPWJvivV4iBUb1uursrYxlC-oJKmJrCzw5xDEWyzlr_wrl3XKXqDYigcVbtjpn-YOfxBdnV8xTRnI18LSFUKu1w2ROfRHlMHs7Gqqfc2FJmSJe7-cwNJYIk6EK3mstCaODsHcbM0JNUfJIj1JnDPe8sBBhJRkGDQk9ttgeroKiL6EvsbxdUW9X3GJmwC9bpzPz8Dkb1Uxxw2tY19R1y8nQuWtY_6MIM_NQXMuQdGB6dcChlz9d20tWnhQ-sXG2tw","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1558486939,"updated":1558486940,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
