interactions:
- request:
    body: '{"kty": "RSA", "attributes": {}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vaultb3510bf8.vault.azure.net/keys/key0/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vaultb3510bf8.vault.azure.net/keys/key0/6c2e5b3fc376496a8cdfe14ee1063e2f","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"zmVldG1IBHXWqraaN4y8k5yAbL6ijx-n1NZ6Z8YxrhaBNTB1iqKsEB1risyql4aTHv767TQ_9-SOCG05crcVscvGssNJ1GWrQm0gh83AFjf12XsD3Y_0nTE5ZH49aP9HWxGp4AtcN72QMdat4vmVLvSMQuASvkA1FuvBzwNoIuXVTAEWtIdDyel3TQ9ZoXA_HoUPf83hqVdA8l_B_Ff36M80enrgkkGOR6xN2dtQgDUvpA7QU4dphTh5eVIHDxVi1LWySHYicvmNiEXUm40hycztEd4aY_LmEeIoW8oWv99E2GwNoI4fQH_u6La2NkZFuosiZfQjD8Jd7I1cAXTcGw","e":"AQAB"},"attributes":{"enabled":true,"created":1558483814,"updated":1558483814,"recoveryLevel":"Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://vaultb3510bf8.vault.azure.net/keys?api-version=7.0&maxresults=7
  response:
    body:
      string: '{"value":[{"kid":"https://vaultb3510bf8.vault.azure.net/keys/key0","attributes":{"enabled":true,"created":1558483814,"updated":1558483814,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultb3510bf8.vault.azure.net/keys/key1","attributes":{"enabled":true,"created":1558483814,"updated":1558483814,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultb3510bf8.vault.azure.net/keys/key2","attributes":{"enabled":true,"created":1558483815,"updated":1558483815,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultb3510bf8.vault.azure.net/keys/key3","attributes":{"enabled":true,"created":1558483815,"updated":1558483815,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultb3510bf8.vault.azure.net/keys/key4","attributes":{"enabled":true,"created":1558483815,"updated":1558483815,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultb3510bf8.vault.azure.net/keys/key5","attributes":{"enabled":true,"created":1558483815,"updated":1558483815,"recoveryLevel":"Purgeable"}},{"kid":"https://vaultb3510bf8.vault.azure.net/keys/key6","attributes":{"enabled":true,"created":1558483816,"updated":1558483816,"recoveryLevel":"Purgeable"}}],"nextLink":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
