interactions:
- request:
    body: '{"kty": "EC", "attributes": {"enabled": true}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault51c4108d.vault.azure.net/keys/crud-ec-key/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault51c4108d.vault.azure.net/keys/crud-ec-key/a414c752b73e47ce982022ec2aef9df5","kty":"EC","key_ops":["sign","verify"],"crv":"P-256","x":"C6dcV3TOAbxSwY7dPeV-natbc7qoMxqthF82DstTYZs","y":"26YC8y-yWXOwnIe0JWIW94APpXOhsYXOTX622X0IzaU"},"attributes":{"enabled":true,"created":1558558424,"updated":1558558424,"recoveryLevel":"Recoverable+Purgeable"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"kty": "RSA", "key_size": 2048, "key_ops": ["encrypt", "decrypt", "sign",
      "verify", "wrapKey", "unwrapKey"], "tags": {"purpose": "unit test", "test name
      ": "CreateRSAKeyTest"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://vault51c4108d.vault.azure.net/keys/crud-rsa-key/create?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault51c4108d.vault.azure.net/keys/crud-rsa-key/6bfd67f0196942b5923835cdacacdfa0","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"ocKO_V1-dHVi52fUGB3d-7rWaIS11UCiY_U0k6W7kLnvLgwitoOBGR9APrsP1xFkUpobH_cG72D3b3OCk6MIuy2Wi3dfh18kBY4C0GugDLJ7Rz-9riLCymWkhXOHC2uoe7pbIK4z7UzmiULYZFXBZ3tp5npYexZZ8gsHymurfQoFNunHIQde7G9pszDG5Mf_gHvyK1CYFZy4kSTYZ2yothuRQALokRVQTfIic4K-tlD6RSXIClX73UgwQRqqNQogXdAydRX05-lk3p6Ljp9k1zylDC53hJpPAVTsbmQ0MbVnY_XRsDesw0C1RWY8E_cIZ0scZX7lxowG5DedZinwMQ","e":"AQAB"},"attributes":{"enabled":true,"created":1558558425,"updated":1558558425,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault51c4108d.vault.azure.net/keys/crud-rsa-key/6bfd67f0196942b5923835cdacacdfa0?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault51c4108d.vault.azure.net/keys/crud-rsa-key/6bfd67f0196942b5923835cdacacdfa0","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"ocKO_V1-dHVi52fUGB3d-7rWaIS11UCiY_U0k6W7kLnvLgwitoOBGR9APrsP1xFkUpobH_cG72D3b3OCk6MIuy2Wi3dfh18kBY4C0GugDLJ7Rz-9riLCymWkhXOHC2uoe7pbIK4z7UzmiULYZFXBZ3tp5npYexZZ8gsHymurfQoFNunHIQde7G9pszDG5Mf_gHvyK1CYFZy4kSTYZ2yothuRQALokRVQTfIic4K-tlD6RSXIClX73UgwQRqqNQogXdAydRX05-lk3p6Ljp9k1zylDC53hJpPAVTsbmQ0MbVnY_XRsDesw0C1RWY8E_cIZ0scZX7lxowG5DedZinwMQ","e":"AQAB"},"attributes":{"enabled":true,"created":1558558425,"updated":1558558425,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault51c4108d.vault.azure.net/keys/crud-rsa-key/?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault51c4108d.vault.azure.net/keys/crud-rsa-key/6bfd67f0196942b5923835cdacacdfa0","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"ocKO_V1-dHVi52fUGB3d-7rWaIS11UCiY_U0k6W7kLnvLgwitoOBGR9APrsP1xFkUpobH_cG72D3b3OCk6MIuy2Wi3dfh18kBY4C0GugDLJ7Rz-9riLCymWkhXOHC2uoe7pbIK4z7UzmiULYZFXBZ3tp5npYexZZ8gsHymurfQoFNunHIQde7G9pszDG5Mf_gHvyK1CYFZy4kSTYZ2yothuRQALokRVQTfIic4K-tlD6RSXIClX73UgwQRqqNQogXdAydRX05-lk3p6Ljp9k1zylDC53hJpPAVTsbmQ0MbVnY_XRsDesw0C1RWY8E_cIZ0scZX7lxowG5DedZinwMQ","e":"AQAB"},"attributes":{"enabled":true,"created":1558558425,"updated":1558558425,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"purpose":"unit
        test","test name ":"CreateRSAKeyTest"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"attributes": {"exp": 2524723200}, "tags": {"foo": "updated tag"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PATCH
    uri: https://vault51c4108d.vault.azure.net/keys/crud-rsa-key/6bfd67f0196942b5923835cdacacdfa0?api-version=7.0
  response:
    body:
      string: '{"key":{"kid":"https://vault51c4108d.vault.azure.net/keys/crud-rsa-key/6bfd67f0196942b5923835cdacacdfa0","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"ocKO_V1-dHVi52fUGB3d-7rWaIS11UCiY_U0k6W7kLnvLgwitoOBGR9APrsP1xFkUpobH_cG72D3b3OCk6MIuy2Wi3dfh18kBY4C0GugDLJ7Rz-9riLCymWkhXOHC2uoe7pbIK4z7UzmiULYZFXBZ3tp5npYexZZ8gsHymurfQoFNunHIQde7G9pszDG5Mf_gHvyK1CYFZy4kSTYZ2yothuRQALokRVQTfIic4K-tlD6RSXIClX73UgwQRqqNQogXdAydRX05-lk3p6Ljp9k1zylDC53hJpPAVTsbmQ0MbVnY_XRsDesw0C1RWY8E_cIZ0scZX7lxowG5DedZinwMQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1558558425,"updated":1558558426,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: DELETE
    uri: https://vault51c4108d.vault.azure.net/keys/crud-rsa-key?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault51c4108d.vault.azure.net/deletedkeys/crud-rsa-key","deletedDate":1558558426,"scheduledPurgeDate":1566334426,"key":{"kid":"https://vault51c4108d.vault.azure.net/keys/crud-rsa-key/6bfd67f0196942b5923835cdacacdfa0","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"ocKO_V1-dHVi52fUGB3d-7rWaIS11UCiY_U0k6W7kLnvLgwitoOBGR9APrsP1xFkUpobH_cG72D3b3OCk6MIuy2Wi3dfh18kBY4C0GugDLJ7Rz-9riLCymWkhXOHC2uoe7pbIK4z7UzmiULYZFXBZ3tp5npYexZZ8gsHymurfQoFNunHIQde7G9pszDG5Mf_gHvyK1CYFZy4kSTYZ2yothuRQALokRVQTfIic4K-tlD6RSXIClX73UgwQRqqNQogXdAydRX05-lk3p6Ljp9k1zylDC53hJpPAVTsbmQ0MbVnY_XRsDesw0C1RWY8E_cIZ0scZX7lxowG5DedZinwMQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1558558425,"updated":1558558426,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://vault51c4108d.vault.azure.net/deletedkeys/crud-rsa-key?api-version=7.0
  response:
    body:
      string: '{"recoveryId":"https://vault51c4108d.vault.azure.net/deletedkeys/crud-rsa-key","deletedDate":1558558426,"scheduledPurgeDate":1566334426,"key":{"kid":"https://vault51c4108d.vault.azure.net/keys/crud-rsa-key/6bfd67f0196942b5923835cdacacdfa0","kty":"RSA","key_ops":["encrypt","decrypt","sign","verify","wrapKey","unwrapKey"],"n":"ocKO_V1-dHVi52fUGB3d-7rWaIS11UCiY_U0k6W7kLnvLgwitoOBGR9APrsP1xFkUpobH_cG72D3b3OCk6MIuy2Wi3dfh18kBY4C0GugDLJ7Rz-9riLCymWkhXOHC2uoe7pbIK4z7UzmiULYZFXBZ3tp5npYexZZ8gsHymurfQoFNunHIQde7G9pszDG5Mf_gHvyK1CYFZy4kSTYZ2yothuRQALokRVQTfIic4K-tlD6RSXIClX73UgwQRqqNQogXdAydRX05-lk3p6Ljp9k1zylDC53hJpPAVTsbmQ0MbVnY_XRsDesw0C1RWY8E_cIZ0scZX7lxowG5DedZinwMQ","e":"AQAB"},"attributes":{"enabled":true,"exp":2524723200,"created":1558558425,"updated":1558558426,"recoveryLevel":"Recoverable+Purgeable"},"tags":{"foo":"updated
        tag"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
